<header>
    <nav>
        <a href="/"> Listings </a>
        <ul>
            <li><a href="/areas">Areas</a></li>
            <li><a href="/areas/new">Add Area</a></li>
            <li><a href="/workers">Workers</a></li>
            <li><a href="/workers/new">Add Worker</a></li>
        </ul>
    </nav>
</header>