<h2 class="page-header"> <%= area.name %> </h2>

<div class="btn-row">
    <a class="btn btn-primary" href="/areas/<%= area.id %>/edit"> Edit </a>
    <%- include('../partials/deleteForm', { url: `/areas/${area.id}` }) %>
</div>

<br>

<% if (workersByArea.length > 0) { %> 
    <h2 class="page-header"> Workers in this Area </h2>
    <%- include('../partials/workerGrid', {workers: workersByArea}) %>
<% } %> 