<h2> Edit Worker </h2>
<form action="/workers/<%= worker.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/workers"> Cancel </a>
    <button type="submit"> Update </button>
</form>