<h2> New Worker </h2>
<form action="/workers" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/workers"> Cancel </a>
    <button type="submit"> Create </button>
</form>